body{
    /* padding: 3rem;
    text-align: center;
    background-color: aquamarine;
	position: relative;
	width: 100%;
	min-height: calc(100vh - 3rem);
	transform-origin: 50% 50%;
	perspective-origin: 50% 55%;
	perspective: 80rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap; */
}

.center_div{
    /* height:100vh;
    padding: 3rem;
    width: 70rem;
	background: #fcfbfa;
	color: #44372f;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(42, 33, 27, 0.15), 0 2px 4px 0 rgba(42, 33, 27, 0.06),
		0 3px 14px 0 rgba(43, 34, 27, 0.1), 0 6px 35px 0 rgba(43, 34, 28, 0.25); */
}